
Intermediate/CachedAssetRegistry.bin
Saved/Autosaves/PackageRestoreData.json
Saved/Config/CrashReportClient/UE4CC-Windows-097C39274146DFFD1159C7A64609DDB4/CrashReportClient.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Logs/BBG_TPOTF_025-backup-2022.01.27-18.41.47.log
Saved/Logs/BBG_TPOTF_025.log
Intermediate/CachedAssetRegistry.bin
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/Windows/Engine.ini
Saved/Logs/BBG_TPOTF_025.log
Saved/Logs/BBG_TPOTF_025.log
Saved/Config/Windows/Engine.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Intermediate/CachedAssetRegistry.bin
*.bin
*.bin
Saved/Logs/BBG_TPOTF_025.log
Saved/Autosaves/Game/Bosses/Dinosaurs/Bdino_DIS_Auto3.uasset
Saved/Autosaves/Game/Bosses/Dinosaurs/Bdino_NM_tofix_Auto1.uasset
Saved/Autosaves/Game/Bosses/Dinosaurs/Dinasour_DIS_edited_Auto2.uasset
Saved/Autosaves/Game/Bosses/Dinosaurs/Dinasour_lowpolyDinasour_lowpolyj-NM_u0_v0_Auto1.uasset
Saved/Autosaves/Game/Bosses/Dinosaurs/Dinasour_Roughness_Auto2.uasset
Saved/SaveGames/BBG_settings.sav
Saved/Logs/BBG_TPOTF_025.log
Saved/Logs/BBG_TPOTF_025-backup-2022.02.02-01.00.53.log
Saved/Logs/BBG_TPOTF_025-backup-2022.01.27-20.31.21.log
Saved/Config/Windows/GameUserSettings.ini
Saved/Config/Windows/EditorPerProjectUserSettings.ini
Saved/Config/CrashReportClient/UE4CC-Windows-EA4CDEFF4839D85EE87578BE514C4380/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-E7E05B7B40038B1B41216480C6B29F08/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-D28BF27E4C0CD932268428B84082CC18/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-C67A34EA49C5812EA2BBB185AF1990C6/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-99EE9ED141F40A9471DF22AFAEC3D0FB/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-8A0D674E466093B249C45E8D97F0981E/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-79242DC4465119DC9089B5BB768EE65C/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-7516AFD14C2A30622F07EEB38CBDDDAA/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-5CF737004F70E34A304B23A929A72681/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-577CB3444727DB3DC870B0BA371A4F18/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-35698654473B75FD5FCDC085BAD6F68F/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-085C2DB246D35D2A1A28F780647A71A6/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-057A94894362BDFE40D02EA93D29DBAC/CrashReportClient.ini
Saved/Config/CrashReportClient/UE4CC-Windows-02361E20430869F2D59D8F8599925B12/CrashReportClient.ini
Saved/AutoScreenshot.png
Intermediate/CachedAssetRegistry.bin
